
            <div class="footer">
                <p>Все права защищены &copy; 2020</p>
            </div>

            <div class="loader">
                <img id="loader" src="/images/loader.gif" width="128" height="128" />
            </div>
        </div> <!-- closing container -->
        <script src="/main.js"></script>
    </body>
</html>
