<%- include('../fragments/header.ejs'); %>

<ul>
    <!--
    <li>
        <a href="/users">Users</a>
    </li>
     -->
    <li>
        <a href="/admin/products">Products</a>
    </li>
</ul>

<%- include('../fragments/footer.ejs'); %>
